{% extends 'base.html' %}

{% block title %}

<h1>Apprendre les verbes irréguliers en Anglais</h1>

{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('index')}}">Menu</a>
</nav>
<h3>Donnez le {{temps}} du verbe: {{verbe.Infinitif}}.  (La reponse est: {{c}}) </h3>

<form action = "/entrainement" method = 'POST'>
    <input type="text" name="reponse" id="reponse">
    <input type="hidden" name="verbe" id="verbe" value="{{verbe.Infinitif}}">
    <input type="hidden" name="temps_verbe" id="temps_verbe" value="{{temps}}">
    <input type="submit" value="Valider">
</form>

{% endblock %}